.spacer{
  padding-top: 13px;
}
.spacerleft{
  padding-left: 10px;
}
.spacericon{
  padding-top: 41px;

}
.spacericonpop{
  padding-top: 35px;

}
.spacerheader{
  padding-top: 22px;

}
.spacerrr{
  padding-top: 26px;

}

