<div class="container">

  <!-- Confirmation mise à jour-->
  <div class="row">

    <div class="col-sm ">
      <div  *ngIf="confirmation===true" class="alert alert-success col-sm " role="alert">

        <p align="center"> <strong> Modification effectuée !</strong> </p>
      </div>

      <div *ngIf="confirmation===false" class="alert alert-danger col-sm " role="alert">

        <p align="center"> <strong> Une erreur est introduite lors de la modification !</strong> </p>
      </div>

    </div>

  </div>

  <div class="card">
    <!-- header -->
    <div class="card-header">
      <div class="row">
        <div class="col-md-9"><h2 class="font-weight-bold cyan-lighter-hover mb-3 spacer">Depot</h2></div>
        <div class="col-md-3"><button routerLink="/new-depot" type="button" class="btn btn-outline-primary waves-effect">Ajouter Depot</button>
        </div>
      </div>
    </div>

    <!-- body -->
    <div class="card-body">
      <!-- search -->
      <div class="row">
        <div class="col-md-9">
          <form class="form-inline md-form mr-auto mb-4">
            <input class="form-control mr-sm-2" type="text" placeholder="chercher" aria-label="chercher" name="emp"  [(ngModel)]="emp" >
            <button (click)="chercherDepot()" mdbBtn size="sm" gradient="aqua" rounded="true" class="my-0 waves-light" mdbWavesEffect type="submit">Chercher</button>
          </form>
        </div>

        <!-- tableau -->
        <table class="table table-striped table-responsive-md btn-table ">

          <thead>
          <tr>
            <th>Id depot</th>
            <th>Responsable</th>
            <th>Emplacement</th>
            <th>Options</th>

          </tr>
          </thead>

          <tbody>
          <tr *ngFor="let c of pageDepots?.content">
            <td>{{c.idDepot}}</td>
            <td>{{c.responsable}}</td>
            <td>{{c.emlpacementString}}</td>


            <td>
              <button (click)="onEditDepot(editDepot,c.idDepot)" mdbBtn type="button" size="sm"color="success" mdbWavesEffect>modifier</button>
              <button (click)="onDeleteDepot(c)" mdbBtn type="button" size="sm"color="danger" mdbWavesEffect>supprimer</button>
              <button (click)="onDetailDepot(detailDepot,c.idDepot)"mdbBtn type="button" size="sm"color="info" mdbWavesEffect>detail</button>

            </td>
          </tr>
          </tbody>

        </table>
        <!-- pagination -->


      </div>
    </div>
  </div>
</div>

<!--Edit Modal -->

<div mdbModal #editDepot="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content card">
      <div class="modal-header card-header card-header-success">
        <button type="button" class="close pull-right" aria-label="Close" (click)="editDepot.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel">Modification depot</h4>
      </div>
      <form #f="ngForm" (ngSubmit)="updateDepot(f.value)" class="text-center border border-light p-5" >

        <!-- Responsable-->
        <div class="form-row mb-4">
          <label class="text-left">Responsable :</label>
          <input type="text"  class="form-control mb-4" placeholder="Responsable"  [(ngModel)]="depot.responsable" name="responsable" required>
        </div>

        <!-- Emplacement-->
        <div class="form-row mb-4">
          <label class="text-left">Emplacement :</label>
          <input type="text"  class="form-control mb-4" placeholder="Emplacement"  [(ngModel)]="depot.emlpacementString" name="emlpacementString" required>
        </div>


        <div class="modal-footer card-footer">
          <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="editDepot.hide()" mdbWavesEffect>Close</button>
          <button (click)="editDepot.hide()" [disabled]="!f.valid" type="submit" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect>Save changes</button>
        </div>
      </form>
    </div>
  </div>
</div>


<!-- Detail Depot -->


<div style=" overflow-y: scroll" mdbModal #detailDepot="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content card">
      <div class="modal-header card-header card-header-success ">
        <button type="button" class="close pull-right" aria-label="Close" (click)="detailDepot.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel">Liste des produits </h4>
      </div>

      <div class="modal-body card-body">
        <!-- search -->
        <div class="row">
          <div class="col-md-9">
            <form class="form-inline md-form form-sm">
              <mdb-icon fas icon="search" aria-hidden="true"></mdb-icon>
              <input class="form-control form-control-sm ml-3" type="text" placeholder="chercher" aria-label="Search" name="desigation" [(ngModel)]="designation"
                     mdbInput>
              <button (click)="chercherProduitDepot()" mdbBtn size="sm" color="elegant" rounded="true" class="my-0 waves-light" mdbWavesEffect type="submit">Chercher</button>

            </form>
          </div>

        </div>
        <table class="table table-striped table-responsive-md btn-table ">

          <thead>
          <tr>
            <th>Reference</th>

            <th>Désignation</th>

            <th>Niveau Stock</th>

          </tr>
          </thead>

          <tbody>

          <tr *ngFor="let c of pageDepotsDetail?.content">
            <td>{{c.refProduit}}</td>
            <td>{{c.designation}}</td>
            <td>{{c.nivStock}}</td>

          </tr>

          </tbody>
        </table>
        <!-- pagination -->
        <nav aria-label="Page navigation example">
          <ul class="pagination pg-blue">
            <li class="page-item">
              <a class="page-link" disabled="!currentPageDetail>0" tabindex="-1" (click)="gotoPage(currentPageDetail-1)" mdbWavesEffect>Precedent</a>
            </li>
            <li class="page-item" [ngClass]="{'page-item active':i==currentPageDetail}" *ngFor="let p of pagesDetail; let i=index">
              <a class="page-link" (click)="gotoPage(i)" mdbWavesEffect>{{i}}</a>
            </li>

            <li class="page-item">
              <a class="page-link" disabled="!currentPage<totalpageDetail-1" (click)="gotoPage(currentPageDetail+1)" mdbWavesEffect>Suivant</a>
            </li>
          </ul>
        </nav>
      </div>


      <div class="modal-footer card-footer">
        <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Fermer" (click)="detailDepot.hide()" mdbWavesEffect>Fermer</button>

      </div>
    </div>
  </div>
</div>
