<!--liste des charges d'un client -->
<div class="container">
  <div class="card">
    <!-- header -->
    <div class="card-header">
      <div class="row">
        <div class="col-md-9"><h2 class="font-weight-bold cyan-lighter-hover mb-3 spacer">Charge</h2></div>
        <div class="col-md-3"><button routerLink="/new-charge" type="button" class="btn btn-outline-primary waves-effect">Ajouter charge</button>
        </div>
      </div>
    </div>

    <!-- body -->
    <div class="card-body">
      <!-- search -->
      <div class="row">
        <div class="col-md-9">
          <form class="form-inline md-form mr-auto mb-4">
            <input class="form-control mr-sm-2" type="text" placeholder="chercher" aria-label="Search" name="libelle" [(ngModel)]="libelle">
            <button (click)="chercherCharge()" mdbBtn size="sm" gradient="aqua" rounded="true" class="my-0 waves-light" mdbWavesEffect type="submit">Chercher</button>
          </form>
        </div>

        <!-- tableau -->
        <table class="table table-striped table-responsive-md btn-table ">

          <thead>
          <tr>
            <th>Id charge</th>
            <th>Libelle</th>
            <th>Type</th>
            <th>Date</th>
            <th>Montant</th>
            <th>Option</th>

          </tr>
          </thead>

          <tbody>
          <tr *ngFor="let c of charges?.content">
            <td>{{c.idCharge}}</td>
            <td>{{c.libelle}}</td>
            <td>{{c.type}}</td>
            <td>{{c.date}}</td>
            <td>{{c.montant}}</td>
            <td>
              <button (click)="onEditCharge(editCharge,c)" mdbBtn type="button" size="sm"color="info" mdbWavesEffect>modifier</button>
              <button (click)="onDeleteCharge(c)" mdbBtn type="button" size="sm"color="danger" mdbWavesEffect>supprimer</button>
            </td>
          </tr>
          </tbody>

        </table>
        <!-- pagination -->
        <nav aria-label="Page navigation example">
          <ul class="pagination pg-blue">
            <li class="page-item">
              <a class="page-link" disabled="!currentPage>0" tabindex="-1" (click)="gotoPage(currentPage-1)" mdbWavesEffect>Precedent</a>
            </li>
            <li class="page-item" [ngClass]="{'page-item active':i==currentPage}" *ngFor="let p of pages; let i=index">
              <a class="page-link" (click)="gotoPage(i)" mdbWavesEffect>{{i}}</a>
            </li>

            <li class="page-item">
              <a class="page-link" disabled="!currentPage<totalpage-1" (click)="gotoPage(currentPage+1)" mdbWavesEffect>Suivant</a>
            </li>
          </ul>
        </nav>

      </div>
    </div>
  </div>
</div>
<!--Edit Modal -->

<div style=" overflow-y: scroll" mdbModal #editCharge="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content card">
      <div class="modal-header card-header card-header-success">
        <button type="button" class="close pull-right" aria-label="Close" (click)="editCharge.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel">Modification charge</h4>
      </div>
      <form #f="ngForm" (ngSubmit)="updateCharge(f.value)" class="text-center border border-light p-5">
        <!-- Libelle-->
        <div class="form-row">
          <label class="text-left">Libelle :</label>
          <input type="text"  class="form-control mb-4" placeholder="Libelle" [(ngModel)]="charge.libelle" name="libelle" required>
        </div>

        <!-- Type-->
        <div class="form-row">
          <label class="text-left">Type :</label>
          <input type="text"  class="form-control mb-4" placeholder="Type" [(ngModel)]="charge.type" name="type" required>
        </div>

        <!-- Date-->
        <div class="form-row">
          <label class="text-left">Date :</label>
          <input type="date"  class="form-control mb-4" placeholder="Date" [(ngModel)]="charge.date" name="date" required>
        </div>

        <!-- Montant-->
        <div class="form-row">
          <label class="text-left">Montant :</label>
          <input type="number"  class="form-control mb-4" placeholder="Montant" [(ngModel)]="charge.montant" name="montant" required>
        </div>
        <div class="modal-footer card-footer">
          <button type="submit" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="editCharge.hide()" mdbWavesEffect>Close</button>
          <button (click)="editCharge.hide()" [disabled]="!f.valid" type="submit" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect>Save changes</button>
        </div>
      </form>

    </div>
  </div>
</div>
