<div class="container">
  <div class="card">
    <!-- header -->
    <div class="card-header card-header-info">
      <div class="row">
        <div class="col-md-9"><h2 class="font-weight-bold cyan-lighter-hover mb-3 spacer">Alert stock</h2></div>
      </div>
    </div>

    <!-- body -->
    <div class="card-body">
      <!-- search -->
      <div class="row">
        <div class="col-md-9">
          <form class="form-inline md-form mr-auto mb-4">
            <input  class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" name="designation" [(ngModel)]="designation" >
            <button (click)="chercherProduit()" mdbBtn size="sm" gradient="aqua" rounded="true" class="my-0 waves-light" mdbWavesEffect type="submit">Chercher</button>
          </form>
        </div>

        <!-- tableau -->
        <table class="table table-striped table-responsive-md btn-table ">

          <thead>
          <tr>
            <th>Id</th>
            <th>Designation</th>
            <th>Quantité</th>
            <th>Seuil</th>

          </tr>
          </thead>

          <tbody>
          <tr *ngFor="let c of alertP?.content">
            <td>{{c.idProduit}}</td>
            <td>{{c.designation}}</td>
            <td>{{c.nivStock}}</td>
            <td>{{c.seuil}}</td>

          </tr>
          </tbody>

        </table>
        <nav  aria-label="Page navigation example">
          <ul class="pagination pg-blue">
            <li class="page-item">
              <a class="page-link" disabled="!currentPage>0" tabindex="-1" (click)="gotoPage(currentPage-1)" mdbWavesEffect>Precedent</a>
            </li>
            <li class="page-item" [ngClass]="{'page-item active':i==currentPage}" *ngFor="let p of pages; let i=index">
              <a class="page-link" (click)="gotoPage(i)" mdbWavesEffect>{{i}}</a>
            </li>

            <li class="page-item">
              <a class="page-link" disabled="!currentPage<totalpage-1" (click)="gotoPage(currentPage+1)" mdbWavesEffect>Suivant</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
